body {
  background-image: url("https://ae01.alicdn.com/kf/HTB1KtDxKFXXXXXgXpXXq6xXFXXXQ/D948-Free-shipping-hot-selling-cute-cookies-big-tail-cats-meow-star-font-b-people-b.jpg")
  font-size: 20px;
  font-family: 'Work Sans', sans-serif;
}

p {
  color: black;
  padding: 0;
  margin: 0;
}

button.clicker {
  font-size: 20px;
  background-color: pink;
  color: black;
  margin-bottom: 7.5px;
  border-radius: 10px;
}

button.upgrade-btn {
  font-size: 15px;
  background-color: purple;
  color: ;
  border-radius: 10px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.aligner-item {
  max-width: 50%;
}
